body {
    text-align: center;
    background-color: rgb(0, 0, 0)
}


@media (min-width: 500px) {
    body {
        background-color: rgb(148, 216, 255);
    }

    .mobileh1 {
        font-size: 50px;
    }

    .mobiletxt {
        font-size: 35px;
    }

    .evilh1 {
        font-size: 0px;
    }

    .eviltxt {
        font-size: 0px;
    }

    #evilimg {
        height: 0px;
    }

    #normalimg {
        height: 300px;
    }

    .normaltxt {
        font-size: 0px;
    }

    .normalh1 {
        font-size: 0px;
    }
}


@media (min-width: 768px) {
    body {
        background-color: rgb(255, 0, 0);
    }

    .evilh1 {
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .eviltxt {
        font-size: 35px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #evilimg {
        height: 600px;
    }

    .mobileh1 {
        font-size: 0px;
    }

    .mobiletxt {
        font-size: 0px;
    }

    #normalimg {
        height: 0px;
    }

    .normaltxt {
        font-size: 0px;
    }

    .normalh1 {
        font-size: 0px;
    }
}



@media (min-width: 1024px) {
    body {
        background-color: rgb(238, 238, 238);
    }

    .normaltxt {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .normalh1 {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #normalimg {
        width: 700px;
        height: 225px;
    }

    #evilimg {
        height: 0px;
    }

    .evilh1 {
        font-size: 0px;
    }

    .eviltxt {
        font-size: 0px;
    }

    .mobileh1 {
        font-size: 0px;
    }

    .mobiletxt {
        font-size: 0px;
    }




}